body {
    text-align: center;
    font-family: "times new roman";
    font-size: 20px;
    color: blue
  }
  
  ul {
    font-family: monospace;
  }
  li {
    list-style: square;
  }
  
  .list {
    list-style: square;
  }
  
  #date {
    font-size: 12px;
    font-style: italic;
    font-weight: bold;
  }
  

  .bo {
    border: 10px double black ;
    display: inline-block;
    margin: 1%;
    width: 10%;
    height: 30px;
    color: darkblue;
    font-size: 20px;
    background-color: lightgrey;
  }
  
  